In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# DO NOT CHANGE THESE DATAFRAMES 
# CREATE COPIES
df_threats = pd.read_csv('Global_Cybersecurity_Threats_2015-2024.csv')
df_loss = pd.read_csv('LossFromNetCrime.csv')
df_world = pd.read_csv('world-data-2023.csv', index_col = 'Country')

# Section 3 - Combining

### Country Codes Hide Cell

In [4]:
country_codes = {
    "PR": "Puerto Rico", "PS": "Palestine", "PT": "Portugal", "PY": "Paraguay",
    "AE": "United Arab Emirates", "AF": "Afghanistan", "AL": "Albania", "AM": "Armenia",
    "AO": "Angola", "AR": "Argentina", "AT": "Austria", "AU": "Australia",
    "AZ": "Azerbaijan", "RO": "Romania", "BA": "Bosnia and Herzegovina", "RS": "Serbia",
    "BD": "Bangladesh", "RU": "Russia", "BE": "Belgium", "BG": "Bulgaria",
    "BH": "Bahrain", "SA": "Saudi Arabia", "BR": "Brazil", "SC": "Seychelles",
    "SE": "Sweden", "SG": "Singapore", "SI": "Slovenia", "BY": "Belarus",
    "SK": "Slovakia", "BZ": "Belize", "CA": "Canada", "SV": "El Salvador",
    "CH": "Switzerland", "SZ": "Eswatini", "CL": "Chile", "CN": "China",
    "CO": "Colombia", "CR": "Costa Rica", "TH": "Thailand", "CY": "Cyprus",
    "CZ": "Czech Republic", "TR": "Turkey", "DE": "Germany", "TW": "Taiwan",
    "TZ": "Tanzania", "DK": "Denmark", "DO": "Dominican Republic", "UA": "Ukraine",
    "UG": "Uganda", "US": "United States", "EC": "Ecuador", "EE": "Estonia",
    "EG": "Egypt", "UZ": "Uzbekistan", "ES": "Spain", "VE": "Venezuela",
    "VG": "British Virgin Islands", "VN": "Vietnam", "FI": "Finland", "FR": "France",
    "GB": "United Kingdom", "GE": "Georgia", "GH": "Ghana", "GN": "Guinea",
    "GR": "Greece", "GT": "Guatemala", "HK": "Hong Kong", "HN": "Honduras",
    "HR": "Croatia", "YE": "Yemen", "HU": "Hungary", "ID": "Indonesia",
    "IE": "Ireland", "IL": "Israel", "IN": "India", "ZA": "South Africa",
    "IQ": "Iraq", "IR": "Iran", "IS": "Iceland", "IT": "Italy",
    "ZW": "Zimbabwe", "JO": "Jordan", "JP": "Japan", "KE": "Kenya",
    "KG": "Kyrgyzstan", "KH": "Cambodia", "KN": "Saint Kitts and Nevis", "KR": "South Korea",
    "KZ": "Kazakhstan", "LB": "Lebanon", "LK": "Sri Lanka", "LT": "Lithuania",
    "LU": "Luxembourg", "LV": "Latvia", "LY": "Libya", "MD": "Moldova",
    "MM": "Myanmar", "MN": "Mongolia", "MT": "Malta", "MV": "Maldives",
    "MX": "Mexico", "MY": "Malaysia", "MZ": "Mozambique", "NG": "Nigeria",
    "NI": "Nicaragua", "NL": "Netherlands", "NO": "Norway", "NP": "Nepal",
    "NZ": "New Zealand", "OM": "Oman", "PA": "Panama", "PE": "Peru",
    "PG": "Papua New Guinea", "PH": "Philippines", "PK": "Pakistan", "PL": "Poland",
    'NaN': 'NaN'  # Represents missing or undefined country
}

### DataFrame - Trasform Country Codes to Country Names

In [5]:
# final output dataFrame for this cell = cntry_loss

cntry_loss = df_loss.copy() #copy df
cntry_loss = cntry_loss.rename(columns = {'Country' :'Country Code'}).sort_values(by = 'Country Code') # rename column and sort 
#print(cntry_loss.loc[103]) 
#print(cntry_loss.shape)
cntry_loss = cntry_loss.dropna() # delete the nan columns
#cntry_loss = cntry_loss.drop(axis = 0, index = 103) # delete the nan column
#print(cntry_loss.shape)

column = cntry_loss['Country Code'] # define column variable

# create empty lists
country_col = []
country_id = []
# create a 3 digit country ID 
value = 100 

for i in column: 
    #print(country_codes[i])
    # from list append 
    country_col.append(country_codes[i])
    value += 1
    country_id.append((value))

# create new columns
cntry_loss.insert(loc = 1, column = 'Country', value = country_col)
cntry_loss.insert(loc = 1, column = 'Country ID', value = country_id)

# Copilot soln without the loop
# cntry_loss['Country'] = cntry_loss['Country Code'].map(country_codes)

### Join DataFrames

In [12]:
cntry_wrld

             Population                GDP
Country
Afghanistan  38,041,754   $19,101,353,833
Albania       2,854,191   $15,278,077,447
Algeria      43,053,054  $169,988,236,398
Andorra          77,142    $3,154,057,987
Angola       31,825,295   $94,635,415,870
...                 ...                ...
Venezuela    28,515,829  $482,359,318,768
Vietnam      96,462,106  $261,921,244,843
Yemen        29,161,922   $26,914,402,224
Zambia       17,861,030   $23,064,722,446
Zimbabwe     14,645,468   $21,440,758,800

[195 rows x 2 columns]

In [15]:
# final output dataFrame for this cell = df_join_og

# set up dfs on Country index 
cntry_loss = cntry_loss.set_index('Country').sort_index()
cntry_wrld = df_world.sort_index()[['Population', 'GDP']]



# df.join() is for joining the dfs by indeces 
df_join_og = cntry_wrld.join(cntry_loss, lsuffix = '_l', how = 'outer')

KeyError: "None of ['Country'] are in the columns"

In [ ]:
df_join_og

### Create a final df for plotting: df_full

In [31]:
# final output dataFrame for this cell = df_full

df_full = df_join_og.copy()
df_full['24-23_Com'] = df_full['2024_Complaints'] - df_full['2023_Complaints']

## Start Plotting